{% extends 'base.html' %}
{% load static %}
{% block additionalCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'stream/lobby.css' %}">
{% endblock additionalCss %}
{% block title %}Lobby: {{lobby}}{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% if message %}
        <p><strong>{{ message }}</strong></p>
        {% endif %}
        {% if lobby %}
        <h3 class="deep-purple-text">Live now in {{lobby}}</h3>
        {% if lobby.owner == user %}
        <!-- update the url -->
        <a href="{% url 'stream:update_lobby' lobby.id %}">Update Lobby</a><br>
        <a href="{% url 'stream:delete_lobby' lobby.id %}">Delete Lobby</a>
        {% endif %}
        <div class="row">
        <ul class="collection">
            <li class="collection-item col m4">
                <ul>
                {% for stream in lobby.streamers %}
                    {% if stream.title != "" and stream.thumbnail != Null %}
                        <li class="stuff">
                            <h5 id="title">{{stream.title}}</h5>
                            <a href="{% url 'stream:streamer-detail' stream.streamers.id %}" id="streamer">{{stream}}</a> <br>
                            <img class="thumbnail" src="{{stream.thumbnail.url}}">
                            <br>
                            {% if stream.streamers.user.id != request.user.id %}

                            <a href="{% url 'stream:subscribe' stream.streamers.id lobby.id %}" class="btn-floating yellow darken-3"><i class="tiny material-icons">star</i></a>
                            <a href="{% url 'stream:report' stream.streamers.id lobby.id %}" class="btn-floating red"><i class="tiny material-icons">report_problem</i></a>

                            {% endif %}

                            {% if lobby.owner == request.user and stream.streamers.user.id == request.user.id%}

                            <a href="{% url 'stream:edit_stream' stream.id lobby.id %}" class="btn-floating blue"><i class="tiny material-icons">edit</i></a>

                            {% endif %}
                        </li>
                        <br>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            <div class="collection-item col m8" id="live">
                <h5></h5>
                <img src="/media/stream/static/images/placeholder.jpg">
            </div>
        </ul>
        </div>
        <!-- working on it -->
        <div>
            <h4>Comments</h4>
            <ul id="comment_holder">
            </ul>
            <input type="text" name="comment" id="comment">
            <button id="send">send</button>
        </div>
        <!-- end -->
        {% else %}
        <h3>404 lobby not found</h3>
        {% endif %}
    {% else %}
        <h3>You are not logged in...</h3>
        <a href="{% url 'login' %}" class="btn">login</a>
    {% endif %}
{% endblock content %}
{% block additionalJS %}
<script src="{% static 'stream/js/lobby.js' %}"></script>

<script>
    var ctr = 0;
    $(function(){
        $("button#send").click(function(){
            if($("input#comment").val()){
                $.ajax({
                    type: 'GET',
                    url: 'comments/',
                    data: {'comment_text': $("input#comment").val(),
                        'lobby_pk': '{{ lobby.pk }}',
                        'valid': "true"
                    },
                    success: function(data){
                        console.log(data);
                        $("#comment").val("");
                        $("button#send").blur();
                    }
                });
            }
        });
    });
    // var ctr = 0;
    (function ajax_get(){
        setTimeout(function(){
            $.ajax({
                type: 'GET',
                url: 'comments/',
                data: {'comment_text': $("input#comment").val(),
                    'lobby_pk': '{{ lobby.pk }}',
                    'valid': ""
                },
                success: function(data){
                    if(ctr != data.comments.length){
                        ctr = data.comments.length;
                        $("#comment_holder").empty();
                        $.each(data.comments, function(ctr, comment){
                            $("#comment_holder").append("<li>" + comment.publisher__user__username + " : "+ comment.comment +"</li>");
                        });
                    }
                    console.log(data);
                    ajax_get();
                }
            });
        }, 1000);
    })();
</script>
{% endblock additionalJS %}
