{% extends 'base.html' %}
{% load static %}
{% block additionalCss %}
	<link rel="stylesheet" type="text/css" href="{% static 'stream/lobby.css' %}">
{% endblock additionalCss %}
{% block title %}Lobby: {{lobby}}{% endblock title %}

{% block content %}
	{% if user.is_authenticated %}
		{% if lobby %}
		<h3>Live now in {{lobby}}</h3>
		<ul class="collection">
			<li class="collection-item">
				<ul>
				{% for stream in lobby.streamers %}
					{% if stream.title != "" and stream.thumbnail != Null %}
						<li>
							<h5>{{stream.title}}</h5> 
							<img class="thumbnail" src="{{stream.thumbnail.url}}">
							<br>
							<div class="streamer">
								<a href="{% url 'stream:streamer-detail' stream.id %}">
									<span>{{stream.user}}</span>
								</a>
								<a href="{% url 'stream:subscribe' stream.id %}" class="btn">Subscribe</a>
							</div>
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			</li>
		</ul>
		{% else %}
		<h3>404 lobby not found</h3>
		{% endif %}
	{% else %}
		<h3>You are not logged in...</h3>
    	<a href="{% url 'login' %}" class="btn">login</a>
  	{% endif %}
{% endblock content %}
