{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'stream/streamcreate_form.css' %}" />
{% endblock styles %}

{% block title %}Create Stream{% endblock title %}

{% block content %}
	<br>
	<div class="container white z-depth-2">
		<div id="register" class="col s3">
			<div class="col s12 m12 l6">
        <div class="card-panel">
          <h4 class="header2 deep-purple-text">Create Stream</h4>
            <div class="row">
              	<form class="col s12" action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% include 'stream/form-template.html' %}
	              	<div class="form-group">
	              		<div class="row">
		                    <div class="input-field col s12">
		                    	<div class="row">
		                    		<button class="btn waves-effect waves-light deep-purple" type="submit" name="action"><i class="material-icons right">send</i>Submit
									<i class="mdi-content-send center"></i>
									</button>
		                    	</div>
		                    </div>
	                  	</div>
	              	</div>
            	</form>
            	<br>

				<a href="{% url 'stream:home' %}" class="btn waves-effect waves-light deep-purple">Go Back</a>
          </div>
        </div>
      </div>
		</div>
	</div>
</body>
{% endblock content %}