<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<meta charset="utf-8">
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'stream/base.css' %}">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
	<main>
	<header class="container center-align">
		<h1>Streaming App</h1>
	</header>
	<div class="container">
		{% block content %}
		{% endblock content %}
		<br>
	</div>
	</main>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js">
</script>
<script>
  function goBack(){
    window.history.back();
  }
</script>