<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<meta charset="utf-8">
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'stream/base.css' %}">
	{% block additionalCss %}{% endblock additionalCss %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
	<main>
	
	
	<!-- <header class="container center-align">
		<h2 class="deep-purple-text">Streaming App</h2>
	</header> -->

	{% if user.is_authenticated %}
	<div>
		<nav>
			<div class="nav-wrapper deep-purple">
				<a href="{% url 'home' %}" class="brand-logo">Game On</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{% url 'stream:create_stream'%}">Add Stream</a></li>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>
	{% endif %}
	<div class="container">
		{% block content %}
		{% endblock content %}
		<br>
	</div>
	</main>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js">
</script>
{% block additionalJS %}{% endblock additionalJS %}