{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block additionalCss %}-
    <link rel="stylesheet" type="text/css" href="{% static 'stream/css/home.css' %}">
{% endblock additionalCss %}

{% block content %}
	{% if user.is_authenticated %}
	    <blockquote><h1>Hi {{ user.username }}! </h1></blockquote>
   		<input type="text" name="text" id="search" style="width: 500px" autocomplete="off">
    	<button>Search</button>
    	<ul id="search_result" style="background-color: #e4e4e4; width: 500px" class="list-group"></ul>
	    {% if notifications %}
		    <h2>Notifications</h2>
		    <ul id="notif_id" class="collection">
		    {% for notification in notifications %}
		    	<li class="collection-item">{{ notification.display }}</li>
		   	{% endfor %}
		    </ul>
			<a style="font-size: 14px" id="see_more">See More...</a>
		{% endif %}
		<h3>List of Lobbies</h3>
		<ul class="collection">
			{% for lobby in lobbies %}
			<li class="collection-item">
				<br>
				<img class="thumbnail" src="{{lobby.logo.url}}">
				<a href="{% url 'stream:lobby-detail' lobby.id %}"><h3>{{lobby.lobbyname}}</h3></a>
				<p>{{lobby.description}}</p>
			</li>

			{% endfor %}
		</ul>
		<br><br>
	{% else %}
		<h3>You are not logged in...</h3>
    	<a href="{% url 'login' %}" class="btn">login</a>
  	{% endif %}

{% endblock content %}

{% block additionalJS %}
<script src="{% static 'stream/js/home.js' %}"></script>
{% endblock additionalJS %}
