{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	    <blockquote><h1>Hi {{ user.username }}! </h1></blockquote>
   		<input type="text" name="text" id="search" style="width: 500px" autocomplete="off">
    	<button>Search</button>
    	<ul id="search_result" style="background-color: lightgrey; width: 500px" class="list-group"></ul>
	    {% if notifications %}
		    <h2>Notifications</h2>
		    <ul id="notif_id" class="collection">
		    {% for notification in notifications %}
		    	<li class="collection-item">{{ notification.display }}</li>
		   	{% endfor %}
		    </ul>
			<a style="font-size: 14px" id="see_more">See More...</a>
		{% endif %}
		<h3>List of Lobbies</h3>
		<ul class="collection">
			{% for lobby in lobbies %}
			<li class="collection-item">
				<br>
				<img class="thumbnail" src="{{lobby.logo.url}}">
				<a href="{% url 'stream:lobby-detail' lobby.id %}"><h3>{{lobby.lobbyname}}</h3></a>
				<p>{{lobby.description}}</p>
			</li>

			{% endfor %}
		</ul>
		<br><br>
	{% else %}
		<h3>You are not logged in...</h3>
    	<a href="{% url 'login' %}" class="btn">login</a>
  	{% endif %}
  	<script>
  		$(function(){
  			// cached the elements
  			var $results_holder = $("#search_result");
  			var $search_bar = $("#search");

  			// clears the ul element with id "search_result" when input element
  			// with id "search" is out of focus
            $(document).click(function(e) {
                if($(e.target).parents('#search_result').length == 0){
                    $('body ul#search_result').empty();
                    $('body input#search').val('');
                }
            });

  			// performs ajax when keyup and focus event happens
	  		$search_bar.on("keyup focus ", function(){
	  			$.ajax({
	  				type: 'GET',
	  				url: 'stream/search_result/',
	  				data: {'search_text': $search_bar.val()},
	  				success: function(results){
                    // appends all the search results in the the ul element
                    // with id "search_result"
                    // "results" is the json response from the server
                        console.log(results);
                        $results_holder.empty();
                        $.each(results.streamers, function(i, streamer){
                            $results_holder.append("<li><a href=\"/stream/streamer/1\">" + streamer.user__username + "</a><i style=\"color: grey\">streamer</i></li>");
                        });
                        $.each(results.lobbies, function(i, lobby){
                            $results_holder.append("<li>" + lobby.lobbyname + "<i style=\"color: grey\">lobby</i></li>");
                        });
                        $.each(results.streams, function(i, stream){
                            $results_holder.append("<li>" + stream.title + "<i style=\"color: grey\">stream</i></li>");
                        });
                    }
	  			});
		  	});
  		});
  	</script>
{% endblock content %}